.plantBioStatistic {
	&-section {
		margin: 60px 0 30px 0;
		min-height: 400px;
		position: relative;
		padding: 0 30px 50px;
	}
	&-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		@media (max-width: 1500px) {
			flex-direction: column;
			gap: 50px;
		}
	}
	&-block {
		max-width: 357px;
		width: 100%;
		height: 216px;
		background: rgba(88, 133, 53, 0.1);
		border-radius: 10px;
		position: relative;
		display: block;
		text-align: center;
		box-shadow: 3px 3px 10px rgba($mainGrey, 0.7);

		@media (max-width: 1500px) {
			max-width: 657px;
		}
		@media (min-width: 992px) {
			&:hover {
				transition: 0.2s ease;
				filter: drop-shadow(2px 2px 20px rgba($greenHaki, 0.5));
			}
		}

		&__icon {
			margin: -45px;
			width: 100px;
			height: 100px;
			border-radius: 100px;
			background-color: $greenHaki;
			border: 5px solid #ffffff;
			box-shadow: 10px 0px 30px rgba(88, 133, 53, 0.11);
			padding: 15px;
		}
		&__total {
			margin-top: 60px;
			font-weight: 700;
			font-size: calc(0.6vw + 1vh + 2vmin);
			line-height: 60px;
			color: $greenHaki;
		}
		&__descr {
			font-weight: 400;
			font-size: calc(0.5vw + 1vh + 0.6vmin);
			line-height: 40px;
			color: $mainGrey;
		}
	}
}
