.plantCare-section {
	background-image: url('../../assets/plantCare/plantCare-bg.png');
	background-size: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 474px;
	margin-top: 70px;
	padding: 0 30px 60px;
	.plantCollection-main-descr__title {
		padding-top: 60px;
		font-weight: 700;
		font-size: 40px;
		line-height: 60px;
		color: $white;
	}
	.plantCollection-main-descr__subtitle {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;

		color: rgba(255, 255, 255, 0.7);
	}
}

.plantCare-blocks {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
	gap: 30px;
	@media (max-width: 992px) {
		flex-direction: column;
	}
}

.plantCare-block {
	display: flex;
	gap: 20px;
	padding: 30px;
	align-items: center;
	width: 100%;
	max-width: 487px;
	height: 160px;
	background: $white;
	box-shadow: 5px 5px 10px rgba($bonesWhite, 0.7);
	border-radius: 10px;
	transition: 0.15s ease;
	&:hover {
		filter: drop-shadow(1px 1px 4px #fff);
	}
	&__descr {
		width: 100%;
		max-width: 260px;
	}
	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 36px;
		color: #22271c;
		@media (max-width: 1200px) {
			font-size: 17px;
		}
	}
	&__subtitle {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: #777a73;
		@media (max-width: 1200px) {
			font-size: 14px;
			line-height: 20px;
		}
	}
	&_circle {
		max-width: 100px;
		width: 100%;
		max-height: 100px;
		height: 100%;
		border-radius: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(88, 133, 53, 0.1);
	}
}
