//variables
@import './variables';

//components

@import '@/components/Header/header';
@import '@/components/Main/main';
@import '@/components/ProductsCarousel/product_carousel.scss';
@import '@/components/PlantCollection/plantCollection';
@import '@/components/PrePlantCollection/prePlantCollection.scss';
@import '@/pages/Cart/cart';
@import '@/components/PlantCollection/PlantCollectionGridItems/plantCollectionGridItems.scss';
@import '../pages/Favourites/favouritesMainIcon.scss';
@import '../components//PlantCare/plantCare.scss';
@import '../components/FeaturedProductsCarousel/featuredProductsCarousel.scss';
//AuthPage
@import '@/pages/AuthPage/authPage.scss';

@import '@/pages/AuthPage/AuthForm/authForm.scss';
@import '@/components/PlantBiography/plantBiography.scss';
@import '../components//plantBioStatistic/plantBioStatistic.scss';
@import '../components/UserReviews/userReviews.scss';
@import '../components/LatestPosts/latestPosts.scss';
@import '../components/EmailForm/emailForm.scss';
@import '../components/Footer/footer.scss';

//ui
@import '../components/ui/buttons/styles/backlink.scss';

* {
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body::-webkit-scrollbar {
	width: 12px;
}
body::-webkit-scrollbar-track {
	background: $bonesWhite;
	filter: contrast(300%);
}
body::-webkit-scrollbar-thumb {
	background-color: #6bbe5a;
	border-radius: 20px;
	filter: contrast(200%);
	border: 3px solid #6bbe5a;
}

.wrapper {
	padding: 0 20px;
}

.container {
	max-width: 1690px;
	margin: 0 auto;
	padding: 0;
}
.container-second {
	max-width: 1520px;
	margin: 0 auto;
	padding: 0;
}

li {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
acronym,
address,
img,
ul,
li,
form,
label,
td,
article,
aside,
footer,
header,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
