.section-main {
	min-height: 980px;
	background-color: $bonesWhite;
	padding: 150px 30px 0;
	@media (max-width: 769px) {
		padding-top: 240px;
	}
	@media (max-width: 576px) {
		min-height: 880px;
	}
}
.main-block {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 0;
	&__left {
		@media (max-width: 992px) {
			text-align: center;
		}
		z-index: 2;
	}
	&__descr {
		font-weight: 600;
		font-size: 24px;
		line-height: 30px;
		text-transform: uppercase;
		color: $darkGreen;
		@media (max-width: 992px) {
			font-size: 20px;
		}
	}
	&__title {
		margin-top: 20px;
		font-weight: 500;
		font-size: 100px;
		line-height: 125px;
		color: $darkGreen;
		max-width: 736px;
		width: 100%;
		height: auto;
		@media (max-width: 992px) {
			font-size: calc((100vw - 480px) / (1280 - 480) * (100 - 20) + 50px);
			max-width: none;
		}
		@media (max-width: 576px) {
			line-height: 100px;
		}
	}
	&__subtitle {
		margin-top: 50px;
		max-width: 650px;
		width: 100%;

		font-weight: 400;
		font-size: 24px;
		line-height: 40px;
		color: $mainGrey;
		@media (max-width: 992px) {
			font-size: calc((100vw - 480px) / (1280 - 480) * (24 - 16) + 16px);
			max-width: none;
		}
	}
	&-btns {
		margin-top: 50px;
		max-width: 400px;
		width: 100%;
		display: flex;
		gap: 23px;
		@media (max-width: 992px) {
			margin: 50px auto;
			display: flex;
		}
		@media (max-width: 480px) {
			align-items: center;
			flex-direction: column;
		}
	}
}
.main-btn__green {
	width: 202px;
	height: 60px;
	background-color: $greenHaki;
	color: $bonesWhite;
	border: none;
	border-radius: 10px;
	transform: skew(-20deg);
	transition: 0.2s ease all;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;

	text-align: center;

	color: $white;
	cursor: pointer;

	&:hover {
		background-color: #426328;
	}
	span {
		display: inline-block;
		transform: skew(20deg);
	}
}
.main-btn__white {
	width: 202px;
	height: 60px;
	background-color: $white;
	color: $greenHaki;
	border: none;
	border-radius: 10px;
	transform: skew(-20deg);
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;

	color: $greenHaki;
	cursor: pointer;
	transition: 0.2s ease all;
	&:hover {
		background-color: rgb(234, 234, 234);
		color: $darkGreen;
		outline: none;
	}
	span {
		display: inline-block;
		transform: skew(20deg);
	}
}

.main-grass__img {
	z-index: 1;
	top: -190px;
	right: 0;
	position: absolute;
	max-width: 1000px;
	height: auto;
	width: 100%;
	@media (max-width: 992px) {
		display: none;
	}
}
