.featuredProductsCarousel-section {
	margin-top: 100px;
	min-height: 1250px;

	.products-item {
		&__block2 {
			&__title {
				margin-bottom: 50px;
				font-weight: 600;
				font-size: 20px;
				line-height: 25px;
				max-width: 130px;
				max-height: 20px;
			}
		}
	}
	%products-item-btn {
		color: $greenHaki;
		cursor: pointer;
		transition: 0.1s ease;
		box-shadow: 2px 2px 3px rgba($mainGrey, 0.4);
		&:active {
			transform: translateY(-2px);
		}
		@media (min-width: 998px) {
			&:hover {
				background: rgb(228, 228, 228);
			}
		}
		@media (max-width: 998px) {
			display: block;
			background: $bonesWhite;
		}
	}
}

.swiper {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px;
}

.swiper-slide {
	height: calc((100% - 30px) / 2) !important;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.featuredProductsCarousel-main {
	&__block {
		height: 1000px;
		width: 100%;
		background: transparent;
		border-radius: 10px;
	}
}

.featuredProductsItem-item {
	position: relative;
	margin: 0 20px 0 20px;
	border-radius: 10px;
	background: rgba(88, 133, 53, 0.1);
	max-width: 320px;
	max-height: 360px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.2s ease;
	padding: 25px;
	box-shadow: 10px 9px 12px rgba($mainGrey, 0.6);
	@media (min-width: 769px) {
		&:hover {
			border: 1px solid $greenHaki;
			background: $greenHaki;
			.products-item__block2__title {
				color: $white;
			}
			.products-item__block2__price {
				color: $white;
			}
		}
	}

	.products-item__block2 {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		gap: 20px;

		&__price {
			font-size: 20px;
		}
	}
}
.featuredProductsItem-item__block1 {
	background: white;
	width: 110.5%;
	height: 240px;
	transform: translateY(-6%);
	border-radius: 10px 10px 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.products-item-btn_block_skew {
	border-radius: 10px 0 10px 0;
}
.products-item-btn_block_border {
	border: 1px solid $greenHaki;
}
.featuredProductsItem-item__block2 {
	display: flex;
}

.swiper-pagination-bullet {
	background-color: transparent;
	width: 15px;
	height: 15px;
	color: transparent;
	border: 3px solid $greenHaki;
}
