.ProductsCarousel-section {
	margin-top: 120px;
	min-height: 400px;
	@media (max-width: 998px) {
		margin-top: 70px;
	}
}
.products-item__block1__img {
	max-height: 175px;
	max-width: 120px;
	border-radius: 10px;
}
.products-item {
	position: relative;
	max-width: 400px;
	width: 100%;
	height: 200px;
	margin: 0 auto;
	background: $white;
	border-radius: 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	padding: 33px 20px 33px;
	transition: 0.3s ease all;
	box-shadow: 5px 9px 10px rgba($mainGrey, 0.6);
	@media (max-width: 769px) {
		min-height: 225px;
	}
	@media (max-width: 480px) {
		justify-content: center;
		gap: 30px;
	}

	&:hover {
		@media (min-width: 998px) {
			height: 280px;
			background: $greenHaki;

			.products-item-btn {
				display: block;
			}
			.products-item__block2__title {
				color: $white;
			}
			.products-item__block2__subtitle {
				color: rgba(255, 255, 255, 0.6);
			}
			.products-item__block2__price {
				color: $white;
			}
		}
	}

	&__block2 {
		&__title {
			margin-bottom: 5px;
			font-weight: 600;
			font-size: 20px;
			line-height: 36px;
			color: $darkGreen;
		}
		&__subtitle {
			margin-bottom: 5px;
			font-weight: 400;
			font-size: 16px;
			line-height: 22px;
			color: $mainGrey;
			@media (max-width: 480px) {
				display: none;
			}
		}
		&__price {
			font-weight: 700;
			font-size: 24px;
			line-height: 36px;
			color: $darkGreen;
			margin-bottom: 10px;
		}
	}
}
%products-item-btn {
	width: 129px;
	height: 40px;
	display: none;
	cursor: pointer;
	background: $bonesWhite;
	border-radius: 5px;
	border: none;
	font-weight: 400;
	font-size: 14px;
	line-height: 30px;
	cursor: pointer;
	color: $greenHaki;
	transition: 0.1s ease;
	box-shadow: 2px 2px 3px rgba($darkGreen, 0.4);
	&:active {
		transform: translateY(-2px);
	}
	@media (min-width: 998px) {
		&:hover {
			background: rgb(228, 228, 228);
		}
	}
	@media (max-width: 998px) {
		display: block;
		background: $bonesWhite;
	}
}
.products-item-btn {
	@extend %products-item-btn;
}
.products-item-btn_block {
	@extend %products-item-btn;

	display: block;
}

.swiper-button-next {
	background-image: url(../../assets/icons/next.svg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center;
	padding: 60px;
	top: 35%;
	right: -20px;
	@media (max-width: 768px) {
		display: none;
	}
}

.swiper-button-next::after {
	display: none;
}
.favouritesIcon {
	position: absolute;
	top: 20px;
	right: 20px;
	color: rgba(175, 180, 172, 0.5);
	transition: 0.1s ease;
	cursor: pointer;
	&_active {
		color: $golden;
		cursor: pointer;
		filter: drop-shadow(1px 1px 5px $goldenLight);
		position: absolute;
		top: 20px;
		right: 20px;
	}
	&:hover {
		color: $golden;
		filter: drop-shadow(1px 1px 5px $goldenLight);
	}
}
