.plantCollections-gridarea {
  display: grid;
  grid-template-columns: repeat(3, [col] 1fr);
  grid-template-rows: repeat(3, [row] 1fr);
  grid-gap: 50px;
  margin-top: 50px;
  @media (max-width: 1550px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;
  }
}

.plantGridItem {
  position: relative;
  background: $bonesWhite;
  border-radius: 10px;
  max-width: 481px;
  width: 100%;
  min-height: 363px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @media (max-width: 576px) {
    width: 75%;
    min-height: 300px;
  }

  &:nth-child(1) {
    grid-row: 1 row / 3 row;
  }
  &:nth-child(4) {
    grid-row: 2 row / 3 row;
    grid-column: 2 col / 3 col;
  }
  &:nth-child(5) {
    grid-row: 3 row / 4 row;
    grid-column: 1 col / 2 col;
  }
  &:nth-child(6) {
    grid-row: 3 row / 4 row;
    grid-column: 2 col / 3 col;
  }
  &:nth-child(7) {
    grid-row: 2 row / 4 row;
    grid-column: 3 col / 4 col;
  }

  &__img {
    @media (max-width: 992px) {
      max-width: 45%;
      height: auto;
    }
  }
  &__title {
    color: $darkGreen;
    font-weight: 500;
    font-size: 20px;
    @media (max-width: 576px) {
      font-size: 15px;
    }
  }
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(25px);
    border-radius: 0px 0px 10px 10px;
    color: $greenHaki;
    font-weight: 500;
    font-size: 16px;
    transition: 0.3s ease all;
    @media (max-width: 576px) {
      align-items: baseline;
    }
    @media (max-width: 420px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &:hover {
    .plantGridItem-info {
      height: 120px;
    }
  }
  &-quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    font-size: 16px;
    @media (max-width: 576px) {
      font-size: 13px;
    }
    &__title {
      font-weight: 500;
    }
  }
}
